#body h1 {
    color: var(--color-primary);
    margin-top: 3vw;
    margin-bottom: 1.5vw;
    font-size: 6vw;

    font-weight: bold;
}

#body h2 {
    color: var(--color-primary);
    margin-bottom: 1.5vh;
    font-size: 4vw;
}

#content {
    width: 100%;
}

#body {
    width: 100%;
    text-align: center;
    margin-top: -3vw;
    padding-top: 3vw;
    background-color: var(--color-background);
    /* padding-bottom: 10vw; */
}

#about {
    width: 90%;
    margin: 0 auto;
    /* margin-bottom: 6vw; */
    padding-bottom: 6vw;
    text-align: center;
}

#missionstatement {
    font-weight: 100;
    font-size: 3vw;
    /* margin-bottom: 10vw; */
}

#calendar {
    background-color: var(--color-background);
    width: 80%;
    /* margin-left: 10%; */
    margin-bottom: 5vw;
}

@media screen and (max-width: 800px) {
    #body h1 {
        font-size: 10vw;
    }

    #body h2 {
        font-size: 7vw;
    }

    #missionstatement {
        font-size: 6vw;
    }
}
