#body {
    background-color: var(--color-background);
    padding-top: 2vw;
    text-align: center;
    width: 100%;
}

#contact-title {
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 2vw;
}

#contact-description {
    font-size: 3.2vw;
    width: 90%;
    margin: 2.5vw auto;
    margin-top: 1vw;
}

#body > h2 {
    color: var(--color-primary);
    font-size: 4vw;
    margin-bottom: 2vw;
}

#google-maps {
    width: 70vw;
    height: 45vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

#google-form {
    width: 70%;
    height: 150vh;
    margin: 0 auto;
}

#form {
    width: 50%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vw;
    padding-bottom: 8vw;
    border-radius: 30px;

    text-align: left;
    padding-bottom: 7vw;

    background-color: var(--color-light);
}

.form-text {
    font-size: 2vw;
    color: var(--color-primary);
}

.form-input {
    border: none;
    transition-duration: 0.4s;

    box-sizing: border-box;

    margin-top: 0.8vw;
    margin-bottom: 2vw;
    height: 3vw;
    font-size: 1.45vw;
    width: 100%;

    color: #3f3f3f;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 8px;
}

#textarea {
    height: 12vw;
    padding-top: 0.5vw;
}

.form-input:focus {
    border-bottom: 3px solid var(--color-primary);
    outline: none;
}
