@-webkit-keyframes splash-loading {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

@-moz-keyframes splash-loading {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

@-o-keyframes splash-loading {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

@keyframes splash-loading {
    from {
        height: 100vh;
    }
    to {
        height: 0vh;
    }
}

@-webkit-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinny {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinny {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spin {
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    -moz-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    -o-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spinny;
    -moz-animation-name: spinny;
    -o-animation-name: spinny;
    animation-name: spinny;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.disappear {
    -webkit-animation-name: disappear;
    -moz-animation-name: disappear;
    -o-animation-name: disappear;
    animation-name: disappear;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    -moz-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    -o-animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
    animation-timing-function: cubic-bezier(0.9, 0.01, 0.23, 0.99);
}

.curtain {
    -webkit-animation-name: splash-loading;
    -moz-animation-name: splash-loading;
    -o-animation-name: splash-loading;
    animation-name: splash-loading;
    -webkit-animation-duration: 1.9s;
    -moz-animation-duration: 1.9s;
    -o-animation-duration: 1.9s;
    animation-duration: 1.9s;
    -webkit-animation-timing-function: cubic-bezier(0.46, 0.27, 0.28, 0.98);
    -moz-animation-timing-function: cubic-bezier(0.46, 0.27, 0.28, 0.98);
    -o-animation-timing-function: cubic-bezier(0.46, 0.27, 0.28, 0.98);
    animation-timing-function: cubic-bezier(0.46, 0.27, 0.28, 0.98);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#splash-loading-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #fede00;
    z-index: 1000;
    padding: 0px;
}

#splash-robotics-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10vh;
    margin-left: -10vh;
    height: 20vh;
    opacity: 1;
}

#content {
    position: absolute;
    top: 0px;
}
